@font-face {
  font-family: "Noto Sans Mono", monospace;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap")
    format("opentype");
}
:root {
  --color-padrao: white;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-altura: 87vh;
  --image-max-largura: 100px;
  --image-margin: 1rem;
  --font-principal: "Arial";
  --font-family-cabecalho: "Roboto, sans-serif;";
  --max-largura: 144px;
  --max-altura: 544px;
  --max-peso: 500;
  --font-tamanho: 15px;
  --font-tamanho-cabecalho: 20px;
  --fundo-padrao: white;
  --negrito: bold;
  --espaco-em-branco: nowrap;
  --btn-tamanho: 10pt;
  --sub-tamanho: 17pt;
  --X: 0px;
  --Y: 390px;
  --PINGOBRASIMG: url(https://cdn.glitch.global/b39d6a4a-0e14-4b41-930d-29d3ccd6c137/pingobras.png?v=1650114443929);
  --PINGOBRASIMG2: url(https://cdn.glitch.global/b39d6a4a-0e14-4b41-930d-29d3ccd6c137/PINGOBRAS.png?v=1650116906906);

  --display: flex formato de celular;
  --height: "altuta";
  --Weight: "peso";
  --width: "largura";
  --white-space: "espaco em branco";
}
/* Basic page style resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
js{
  width: auto;
  display: inline;
}
[inline]{
  display: inline;
}
[hidden] {
  display: none !important;
}
[branco]{
  color: white;
}
[white]{
  background: white;
}
[azul]{
  color: blue;
}
[blue]{
  background: blue;
}
[lightblue]{
  background: lightblue;
}
[amarelo]{
  color: yellow;
}
[yellow]{
  background: yellow;
}
[vermelho]{
  color: red;
}
[red]{
  background: red;
}
[verde]{
  color: green;
}
[green]{
  background: green;
}
[laranja]{
  color: orange;
}
[orange]{
  background: orange;
}
[cinza]{
  color: gray;
}
[gray]{
  background: gray;
}
[roxo]{
  color: purple;
}
[purple]{
background: purple;
}
[border]{
  padding: 4px;
  border: 2px solid black;
}

.btnvoltar{
        position: inline;
        background-color: blue;
        border: 5px solid black;
        padding: 7px;
        width: 100%;
        border-radius: 15px;
        color: white;
        font-size: 15px;
        margin-top: 10px;
        justify-content: center;
        transform: translateY(5px);
}
      .btnvoltar:hover{
        background-image: linear-gradient(50deg, blue, purple);
        cursor: pointer;
        box-shadow: -8px 20px 20px gray;
        transform: translateY(5px);
        transition: all .5s ease-out;
        }

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/


body{
      font-family: var(--font-int),var(--font1);
       width: 100%;
      background-image: linear-gradient(180deg,cyan,purple);
     }

/* Page structure */
.site-altura {
  min-height: var(--wrapper-altura);
  display: grid;
  place-items: center;
}
.conteudo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* Instructions */
.instructions {
  margin: 1rem auto 0;
}
/* footer grid */
.footer {
  display: block;
  margin: 10px;
  width: 100%;
  font-size: 15pt;
  text-align: center;
  padding: 50px;
  flex-wrap: wrap;
  border-top: 4px solid white;
}
.footer.links {
  padding: 40px;
  white-space: nowrap;
}
.footer-dev {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  width: 100%;
  color: white;
}

p {
  font-size: 1.25rem;
}

/* Title h1 style */
.title {
  color: #2800FF;
  font-family: san;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 2rem 0 0;
}

/* Very light scaling for our illustration */
.illo-container {
  display: flex;
  justify-content: flex-end;
}
.illustration {
  max-width: 100%;
  max-height: 150px;
  margin-top: 1rem;
}

/* Styles for our custom color form and its results */
.color-info {
  margin-left: 5px;
}
.color-search {
  margin-top: 3rem;
}
.color-form {
  width: 90%;
  max-width: 500px;
  margin-left: 5px;
}

.color-form button {
  background-color: red;
  margin-top: 8px;
}
.color-form button:hover {
  background-image: linear-gradient(90deg,red,green);
  cursor: pointer;
  box-shadow: var(--direita) var(--baixo) var(--luz) white;
  transition: all .5s ease-out;
}
form {
  margin: 0.75rem 0;
}
button,input {
  font-family: inherit;
  font-size: 100%;
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}
label {
  color: #000000;
  font-weight: bold;
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}
.instructions p {
  font-size: 1rem;
}
h2 {
  color: #2800FF;
}
a{
  font-weight: bold;
  text-decoration: none;
  transform: translateY(5px);
  transition: all .5s ease-out;
  color: yellow;
}
a:hover{
  color: green;
}